.Restaurant-parts{
    display: flex;
}

.Restaurant-part1{
    flex: 1;
}

.Restaurant-part2{
    flex: 2;
}

.Restaurant-part3{
    flex: 1;
}

.rest-main{
    font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
    /* margin-top: 230px; */
}

.rest-type-head{
    margin-bottom: 2rem;
}

.rest-type-items{
    font-weight: 700;
    color: grey;
}

/* .type-underline{
    border-bottom: 4px solid black;
    margin-bottom: 2rem;
} */

.food-info{
    margin-bottom: 2rem;
}

.food-item-name{
    font-weight: bold;
    font-size: 1.5rem;
}

.food-item-price{
    margin: 0.8rem 0;
    align-items: center;
}
.food-item-price>span{
    display: flex;
    justify-content: flex-start;
}
.food-price-icon{
    font-size: 1.2rem;
}
.food-underline{
    margin-top: 2rem;
    border-bottom: 1px solid grey;
}

.type-underline{
    border-bottom: 3px solid black;
    margin-bottom: 2rem;
}

.food-item-text{
    color: #a3aab5;
}

/* .food-item-btn-container{
    width: 200px;
}

.food-item-btn-container > button{
    width: 100%;
} */